<app-title title="Defer Views"/>
<section class="grid grid-cols-1">

  @defer () {
    <app-heavy-loaders-low cssClass="bg-blue-500" />
  } @placeholder {
    <p class="h-[300px] w-full bg-gradient-to-r from-pink-200 to-indigo-400 animate-pulse">Cargando...</p>
  }

  @defer (on idle) {
    <app-heavy-loaders-low cssClass="bg-red-500" />
  } @placeholder {
    <p class="h-[300px] w-full bg-gradient-to-r from-pink-200 to-indigo-400 animate-pulse">Cargando...</p>
  }

  @defer (on viewport) {
    <app-heavy-loaders-low cssClass="bg-purple-500" />
  } @placeholder {
    <p class="h-[300px] w-full bg-gradient-to-r from-pink-200 to-indigo-400 animate-pulse">Cargando...</p>
  }

</section>
